.tv-screen {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tv-screen img,
.tv-screen video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
